@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

.font-effect-fire-animation {
    font-family: 'Tangerine', serif;
    text-shadow: 50px 30px 7px #aaa;
    animation: fireAnimation 5s infinite;
}

@keyframes fireAnimation {
    0% {
        text-shadow: 0 0 10px #f00, 0 0 20px #f00, 0 0 30px #f00, 0 0 40px #f00, 0 0 50px #f00, 0 0 60px #f00, 0 0 70px #f00, 0 0 80px #f00;
    }
    50% {
        text-shadow: 0 0 10px #ff00aa, 0 0 20px #ff00aa, 0 0 30px #ff00aa, 0 0 40px #ff00aa, 0 0 50px #ff00aa, 0 0 60px #ff00aa, 0 0 70px #ff00aa, 0 0 80px #ff00aa;
    }
    100% {
        text-shadow: 0 0 20px #ff0, 0 0 30px #ff0, 0 0 40px #ff0, 0 0 50px #ff0, 0 0 60px #ff0, 0 0 70px #ff0, 0 0 80px #ff0, 0 0 90px #ff0;
    }
}
